<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./Icon Pyne Resto.png">
  <link rel="manifest" href="./app.webmanifest"> 
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"/>
  <title>Pyne Resto</title>
</head>
<body>
    <a href="#main-content" class="skip-to-content" tabindex="0">Skip To Content</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>PyneResto</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/now-playing">Home</a></li>
        <li><a href="#/upcoming">Favorite</a></li>
        <li><a href="#/like">Liked Resto</a></li>
        <li><a href="https://portofoliofidnhafid.000webhostapp.com/Web_Protofolio_Hafid%20Nurmajid/">About Us</a></li>
      </ul>
    </nav>
  </header>
  <main id="mainContent" tabindex="-1"></main>
  <footer>
    <p>Copyright &copy; 2024 PhyneResto. Design by Hafid Nurmajid cp <a href="https://themoviedb.org" target="_blank" rel="noreferrer"></a></p>
  </footer>
  <script type="module" src="../scripts/utils/skip-to-content.js"></script>
</body>
</html>